*.user
*.sdf
*.suo
*.opensdf
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
bin
obj
*.user
*.vshost.exe*
*.dll
*.exp
*.ilk
*.lib
*.pdb
*.exe
*.ipch
*.tlog
*.log
*.lastbuildstate
*.manifest
*.obj
*.cache
*.~cp
*.~cpp
*.~h
*.~bp
*.sbr
*.cache
*.bsc
*.idb
moc_*.cpp
qrc_*.cpp
ui_*.h
*.odt#
*.unsuccessfulbuild
.~*
output/*
charts/*
